body {
  background-image: linear-gradient(to bottom right,#fb5607, #8338ec);
}

p,
.div,
div {
  font-size: 25px;
  
}

.title {
  text-decoration: underline;
}

.titles {
  font-size: 39px;
}